body {
    font-family: Arial, sans-serif;
    background-color: #2f3136;
    color: #dcddde;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background: #36393f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #7289da;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #b9bbbe;
}

input, textarea, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4f545c;
    border-radius: 5px;
    background-color: #40444b;
    color: #dcddde;
}

textarea {
    resize: vertical;
}

button {
    background-color: #7289da;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #677bc4;
}

.section {
    margin-top: 20px;
}

#embedsContainer {
    margin-top: 20px;
}

.embed {
    border: 1px solid #4f545c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #2f3136;
}

.field {
    margin-bottom: 10px;
}
